/* Sections */
html {
  body {
    h1,h2,h3,h4,h5 {
      font-family: "Times New Roman", Times, serif;
      margin: 0px;
      letter-spacing: 2px;
      font-weight: 300;
    }
    .page {
      background:url(../images/party_bg.png) no-repeat transparent;
      background-size: contain;
      background-attachment: fixed;
    }
    .main-container {
      max-width: 980px !important;
    }
    section#top {
      background-color: $ltgreyalt;
      color: $dkgrey;
      div.main-container {
        padding: 10px 20px;
      }
      p.msg {
        margin: 0px;
        font-size: 0.7em;
        font-family: Lato, 'Myriad Pro', Helvetica;
        letter-spacing: 2px;
        font-weight: 500;
        text-transform: uppercase;
        border-right: 1px solid $grey;
      }
      div.header-minicart {
        a.skip-link {
          .label {
            color: $gold;
            font-size: 0.7em;
            letter-spacing: 2px;
            font-weight: 500;
          }
        }
        .block-subtitle {
          color: $gold;
        }
      }
      .skip-link {
        height: 100%;
        line-height: 100%;
      }
      a.skip-link {
        background: none;
        border-right: 1px solid $grey;
        &:last-child {
          border: none;
        }
        .label {
          color: $dkgrey;
          font-size: 0.7em;
          letter-spacing: 2px;
          font-weight: 500;
          text-transform: uppercase;
        }
        &:hover {
          text-decoration: none;
        }
        &:focus {
          text-decoration: none;
        }
      }
    }
    section#top-lower {
      background: #FFF;
      h5 {
        color: $gold;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 0.8em;
      }
      .main-container {
        padding: 15px 20px;
      }
    }
    section#header {
      .main-container {
        background: #FFF;
      }
      a.logo {
        min-height: 100%;
        max-width: 400px;
        display: block;
        float: none;
      }
      .phone {
        text-align: right;
        p {
          margin: 0;
          text-transform: uppercase;
          font-size: 0.8em;
        }
      }
      #nav {
        li {
          a {
            font-family: "Times New Roman", Times, serif;
            letter-spacing: 2px;
            &:hover {
              color: $gold;
              text-decoration: none;
              transition: all 0.5s ease;
            }
            &:focus {
              color: $gold;
              text-decoration: none;
            }
          }
        }
      }
    }
    section#search-bar {
      background-color: $ltgreyalt;
      h2 {
        color: $dkgrey;
        margin: 0px;
      }
      p {
        color: $dkgrey;
        margin: 0;
      }
      input {
        border: none;
      }
    }
    section#title {
      background-color: $ltgreyalt;
      padding: 20px 0;
      h2 {
        color: $c-black;
        text-align: center;
        margin: 0;
        font-size: 1em;
        font-family: Lato, 'Myriad Pro', Helvetica;
        letter-spacing: 2px;
        font-weight: 500;
        text-transform: uppercase
      }
    }
    section#engraving {
      background:url(../images/homepage/engraving_bg.jpg);
      background-size: cover;
      padding: 20px 0;
      h1 {
        color: $c-text-white;
        text-shadow: 0 0 3px $c-black;
        text-align: center;
        font-size: 20px;
      }
      p {
        font-size: 1.1em;
        color: $c-text-white;
        text-align: center;
        margin: 1em 0;
      }
      p.divider {
        border-bottom: 1px solid $gold;
        width: 50%;
        margin: 0 auto;
        display: block;
      }
    }
    section#products {
      padding: 20px 0 0 0;
      .product-info {
        min-height: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
      }
    }
    section#photo-booth {
      background:url(../images/homepage/curtain_bg.jpg) top center no-repeat transparent;
      background-size: cover;
      background-color: $black;
      padding: 20px 0;
      h1 {
        color: $c-text-white;
        text-shadow: 0 0 3px $c-black;
        text-align: center;
        font-size: 20px;
        margin-bottom: 1em;
      }
      p {
        font-size: 1.1em;
        color: $c-text-white;
        text-align: center;
        margin: 1em 0;
      }
      a.btn {
        display: block;
        margin: 0 auto;
        max-width: 250px;
      }
    }
    section#about {
      background-color: $ltgreyalt;
      padding: 20px 0;
      h3 {
        margin-bottom: 0.7em;
      }
      p {
        color: $c-black;
        font-weight: 300;
      }
    }
    section#foot {
      background: #FFF;
    }
  }
}

/* Normalize */

html body.cms-home .main-container {
  padding: 20px;
}

/* Media Queries */

@media (max-width: 1299px) {
  html body .page{
    background: none !important;
  }
}

@media (min-width: 769px) {
  .skip-cart .icon,
  .skip-account .icon {
    display: none;
  }
}
@media (max-width: 768px) {
  a.logo {
    margin: 0 auto 15px auto;
    float: none;
    max-width: 200px;
  }
  .img-circle {
    margin: 0px auto 25px auto;
    max-width: 180px !important;
  }
  .embed-responsive {
    max-width: 500px;
    margin: 30px auto;
    &:first-child {
      margin-top: 0px;
    }
  }
  section#photo-booth {
    background: none;
    background-color: $black;
  }
  section#header .phone {
    text-align: center !important;
  }
  /* Home Button */
  li.home {
    display: none;
  }
}

